body{
    background: lightgrey;
}

.thumbnail img{
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.delete-form{
    display: inline;
}

.input-margin{
    margin:20px 0 0 0;   
}

#imgthumb{
    margin-bottom: 10px;
}

.comment{
    margin-bottom: 20px;
}

.title{
    margin-bottom: 30px;
}